---
import Layout from "../layouts/Layout.astro";
import "../assets/app.css";
---

<Layout>
  <article class="prose prose-lg prose-neutral max-w-3xl mx-auto px-4 py-12">
    <h1 class="text-4xl font-extrabold text-center mb-8">
      José Carpincho Bara, "El Capy".
    </h1>
    
    <p class="mb-4 opacity-85">
      En las orillas de un río sudamericano, donde la pelota nunca deja de rodar y
      el fútbol es más que un deporte, nació José Carpincho Bara. Desde pequeño,
      todos lo llamaban "Capy". No solo porque era el capitán del equipo, sino
      porque tenía un don natural: unir a la gente a su alrededor. Creció en un
      barrio donde el fútbol se jugaba descalzo, con arcos improvisados y una
      hinchada que no necesitaba tribunas para hacer ruido. Ahí aprendió lo más
      importante: el fútbol es un sentimiento, una historia que se vive en cada
      pase, en cada gol, en cada abrazo después del partido.
    </p>
    <img src="/rapper.png" alt="jose-capy" class="mx-auto mb-4 h-96">

    <p class="mb-4 opacity-85">
      Capy nunca fue el más rápido ni el más técnico, pero tenía algo que lo hacía
      diferente: sabía jugar en equipo. Entendió que un buen capitán no es el que
      grita más fuerte, sino el que inspira con su ejemplo. Por eso, nunca dudó en
      ponerse la camiseta con orgullo y atarse el brazalete con convicción. No
      jugaba solo por él, jugaba por todos. Con los años, su pasión por el fútbol
      creció, así como su deseo de llevar ese sentimiento más allá de su barrio.
      Fue entonces cuando encontró a Fz, una empresa con la misma misión que él:
      llevar el fútbol latino al mundo. Capy entendió que no importaba el estadio,
      la cancha o la pantalla, lo único que importaba era mantener viva la esencia
      de este deporte.
    </p>

    <p class="mb-4 opacity-85">
      Hoy, Capy no es solo una mascota. Es el alma de Fz. Es hincha, es jugador,
      es capitán. Representa a una empresa que conecta, a un equipo que colabora,
      y a una comunidad que vive el fútbol con pasión. Ya sea en una reunión de
      equipo, en una historia compartida o en un gol gritado al unísono, Capy está
      ahí, recordándonos lo que somos y por qué hacemos lo que hacemos. Porque
      donde haya una pelota rodando, Capy estará presente.
    </p>
  </article>
</Layout>
