---
import Layout from "../layouts/Layout.astro";
import "../assets/app.css";
---

<Layout>
  <div class="h-screen flex flex-col items-center justify-center mt-[-20px]">
    <h1 class="text-3xl font-bold mb-4">Vota 6</h1>
    <h2 class="text-3xl font-bold mb-4">Vota Capi</h2>
    <div class="rounded-4xl overflow-hidden">
      <video src="/VotaCapy6.mp4" class="w-full h-96" autoplay loop></video>
    </div>
    <p>
      6️⃣ 6️⃣ 6️⃣ 6️⃣
    </p>
  </div>
</Layout>

<style>
  h1 {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    margin-bottom: 0px;
  }

  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 48px;
    font-style: normal;
  }

  p {
    font-size: 48px;

  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  p {
    animation: pulse 1s infinite;
  }

</style>
