<nav class="navbar text-neutral">
  <div class="navbar-start">
    <a href="/" class="text-orange-500">Vota 6 Vota Capi</a>
  </div>
  <div class="navbar-center"></div>
  <div class="navbar-end">
    <a href="/about" class="text-orange-500">Acerca de Capy</a>
  </div>
</nav>

<style>
  .navbar {
    padding: 0 5%;
    background: transparent;
    border-bottom: 1px solid #dc5800;
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f5af19,
      #f12711
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f5af19,
      #f12711
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  a {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #000;
  }

  a:hover {
    color: #FFF;
  }
</style>
