<nav class="navbar text-neutral">
  <div class="navbar-start">
    <a href="/" class="text-orange-300">Vota 6</a>
  </div>
  <div class="navbar-center"></div>
  <div class="navbar-end gap-4">
    <a href="/proposal" class="text-orange-300">Propuestas</a>
    <a href="/about" class="text-orange-300">Acerca</a>
  </div>
</nav>

<style>
  .navbar {
    padding: 0 5%;
    background: transparent;
  }
  a {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  a:hover {
    color: #ff9100;
  }
</style>
