---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Vota 6 Vota Capy</title>
    <meta
      name="description"
      content="Vota por el mejor candidato a mascota de FZ Sports, Jose Carpincho Bara 'El Capy' ha trabajado por la comunidad durante décadas demostrando liderazgo, compromiso y dedicación"
    />
    <meta
      name="keywords"
      content="Vota 6, Vota Capy, Jose Carpincho Bara, El Capy, FZ Sports, votación, elección, candidato, mascota, liderazgo, compromiso, dedicación, votación, elección, candidato, mascota, liderazgo, compromiso, dedicación"
    />
    <meta property="og:title" content="Vota 6 Vota Capy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://capy-zeta.vercel.app" />
    <meta
      property="og:image:url"
      content="https://capy-zeta.vercel.app/logo.png"
    />
    <meta property="og:description" content="Vota por el mejor candidato a mascota de FZ Sports, Jose Carpincho Bara 'El Capy' ha trabajado por la comunidad durante décadas demostrando liderazgo, compromiso y dedicación" />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
  }
</style>
